<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<!--
<svg>
    <polyline points="20,20 800,200 950,500 0,800 0,0"></polyline>
</svg>
-->
    <div id="app">
        <div class="hero"
             v-bind:class="{ ready: opponent.numberOfAttacks>0&&opponent.attack>0&&activePlayer===opponent&&!activeCard, targetable: targets.includes(opponent) }"
             v-bind:data-id="opponent.id">health: {{opponent.health}}<br>armor: {{opponent.armor}}<br>attack: {{opponent.attack}}<br>mana: {{opponent.mana}}</div>
        <div id="opponentHand" class="centerContent hand">
            <div v-for="card in opponent.hand.sort(function(a,b){return a.cost-b.cost;})"
                 class="card nice" v-bind:draggable="targets.length===0&&card.cost<=opponent.mana"
                 ondragstart="drag(event)"
                 v-if="activePlayer===opponent"
                 v-bind:data-id="card.id">{{card.name}}<br>{{card.cost}}
            </div>
        </div>
        <div id="opponentBoard" class="centerContent board">
            <div v-for="minion in opponent.board" class="minion nice"
                 v-bind:class="{ ready: minion.numberOfAttacks>0&&!minion.summoningSickness&&activePlayer===opponent&&!activeCard, targetable: targets.includes(minion) }"
                 v-bind:data-id="minion.id">{{minion.name}}<br>{{minion.attack}}/{{minion.health}}
            </div>
        </div>

        <div id="board" class="centerContent board">
            <div v-for="minion in player.board" class="minion nice"
                 v-bind:class="{ ready: minion.numberOfAttacks>0&&!minion.summoningSickness&&activePlayer===player&&!activeCard, targetable: targets.includes(minion) }"
                 v-bind:data-id="minion.id">{{minion.name}}<br>{{minion.attack}}/{{minion.health}}
            </div>
        </div>
        <div id="hand" class="centerContent hand"><!--causes vue warn in console, sort hand on cost -->
            <div v-for="card in player.hand.sort(function(a,b){return a.cost-b.cost;})"
                 class="card nice" v-bind:draggable="targets.length===0&&card.cost<=player.mana"
                 ondragstart="drag(event)"
                 v-if="activePlayer===player"
                 v-bind:data-id="card.id">{{card.name}}<br>{{card.cost}}
            </div>
        </div>
        <button v-on:click="endTurn">End Turn</button>
        <button v-on:click="activeCard=null">UNDO</button>
        <button v-on:click="player.heropower" v-if="!player.heropowerUsed&&player===activePlayer">HEROPOWER</button>
        <button v-on:click="opponent.heropower" v-if="!opponent.heropowerUsed&&opponent===activePlayer">HEROPOWER OPPONENT</button>
        <div class="hero"
            v-bind:class="{ ready: player.numberOfAttacks>0&&player.attack>0&&activePlayer===player&&!activeCard, targetable: targets.includes(player) }"
            v-bind:data-id="player.id">health: {{player.health}}<br>armor: {{player.armor}}<br>attack: {{player.attack}}<br>mana: {{player.mana}}</div>
        <div id="combatLog"><p v-for="messageObj in combatLog" v-bind:class="messageObj.class">{{messageObj.message}}</p></div>
        <div id="discoverOverlay" v-if="discoverable.length>0">
            <div class="card discoverCard"
                 v-for="card in discoverable"
                 v-bind:data-id="card.id">
                {{card.name}}<br>{{card.cost}}</div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js" rel="script" type="text/javascript"></script>
    <script src="assets/js/script.js" rel="script" type="text/javascript"></script>
</body>
</html>