:root{
    --boardHeight: 15vh;
    --handHeight: 15vh;
}
.hand{
    background-color: #AAA;
    height: var(--handHeight);
    width: 50vw;
    margin: 5vh auto auto;
}

.board{
    background-color: #333;
    height: var(--boardHeight);
    width: 60vw;
    margin: 2vh auto auto;
}

.centerContent {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.nice{
    /*border-radius: 10px 50px 10px 50px;*/
    background-color: #666;
    display: inline-block;
    width: 10vh;
    height: calc(var(--handHeight) - 5vh);
    text-align: center;
    line-height: 5vh;
    font-size: 2vh;
}

.card{
    border: double 5px black;
}

.minion{
    border: none;
}

.hero{
    height: 5vh;
}

.ready{
    border: solid 5px greenyellow;
}

.targetable{
    border: solid 5px red;
}

.suppressReady{
    border: none;
}

.playerLog{
    padding: 1px;
    border: greenyellow 1px solid;
}
.opponentLog{
    padding: 1px;
    border: red 1px solid;
}

#combatLog{
    position: absolute;
    left: 2vh;
    top: 2vh;
    height:90vh;
    width: 20vw;
    background-color: #666666;
    z-index: 0;
}

#app{
    margin-left: 25vw;
}