:root{
    --boardHeight: 15vh;
    --handHeight: 15vh;
}
.hand{
    background-color: #AAA;
    height: var(--handHeight);
    width: 50vw;
    margin: 5vh auto auto;
}

.board{
    background-color: #333;
    height: var(--boardHeight);
    width: 90vw;
    margin: 2vh auto auto;
}

.centerContent {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.nice{
    border-radius: 10px 50px 10px 50px;
    background-color: #666;
    display: inline-block;
    width: 10vh;
    height: calc(var(--handHeight) - 5vh);
    text-align: center;
    line-height: 5vh;
    font-size: 2vh;
}

.card{
    border: double 5px black;
}

.minion{
    border: none;
}

.hero{
    height: 5vh;
}

.ready{
    border: solid 5px greenyellow;
}

.targetable{
    border: solid 5px red;
}

.suppressReady{
    border: none;
}

polyline {
    fill: none;
    stroke-width: 3;
    stroke-linecap: round;
    stroke: rgba(0,0,0,0.5);
}